*.pyc
.asetup.save
InnerDetector/
InstallArea/
PhysicsAnalysis/
WorkArea/
sample/
code/EventLoop/rcSetup.*
code/EventLoop/RootCoreBin/
code/EventLoop/.RootCoreBin
code/EventLoop/xAODAnaHelpers/
code/EventLoop/xAODBTaggingEfficiency/
code/EventLoop/AutoHists
code/EventLoop/submitDir*
