*.pyc
.asetup.save
sample/
InstallArea/
WorkArea/
EventLoop/rcSetup.*
EventLoop/RootCoreBin/
EventLoop/.RootCoreBin
EventLoop/xAODAnaHelpers/
EventLoop/xAODBTaggingEfficiency/
EventLoop/AutoHists
EventLoop/submitDir*
